#root {
  background-color: black;
}

.list-group-item {
  font-size: 12px;
  height: 4rem;
  width: 6rem;
}

#appcon {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px 20px 0px;
  border: 15px solid rgba(249, 218, 172, 0.79);
  border-radius: 15px;
  color: rgb(205, 60, 200);

  background-color: rgb(0, 0, 0);
}

.App {
  display: flex;
  flex-direction: row;
}

.card-img-top {
  margin-top: 3rem;
}

#mapCard {
  background-color: rgb(0, 0, 0);
}
#cardButton {
  margin: 10px;
}

#wbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 10px bold beige;
  padding: 1rem;
}

#weather1 {
  color: azure;
  background-color: rgb(36, 35, 35);
}

#weather2 {
  color: rgb(90, 182, 240);
  background-color: rgb(63, 63, 63);
}
