.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px 0px 20px 0px;
  border: 15px solid rgba(250, 172, 62, 0.79);
  border-radius: 15px;
  color: azure;

  background-color: black;
}
.Appcon {
}
